<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <%= simple_form_for [@user, @flat] do |f| %>
      <%= f.input :name, required: true %>
      <%= f.input :address, required: true%>
      <%= f.input :description, required: true %>
      <%= f.input :nb_rooms, required: true%>
      <%= f.input :nb_people_max, required: true %>
      <%= f.input :wifi_available, required: true%>
      <%= f.input :photos, as: :attachinary %>
      <%= f.submit class:"btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
