<div class="container cards_container">
<% @flats.each do |flat| %>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="card-total">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=cl_image_path flat.photos.first.path, height: 300, width: 400, crop: :fill unless flat.photos.first.nil? %>')">
      <div class="card-category">
        <p><%= flat.name %></p>
      </div>
      <div class="card-description">
        <h2><%= flat.address %></h2>
      </div>
      <%= link_to "", flat_path(flat), class: "card-link" %>
    </div>
    <div class="under_card">
      <p><%= flat.price.to_i %> € / night</p>
      <p><%= flat.description %></p>
    </div>
  </div>

  </div>

<% end %>
</div>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
<script>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @markers.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
</script>
<% end %>
