<div class="container">
      <div class="col-xs-12 col-md-9 info-container">
        <h3 class="text-center"><%= @flat.name %></h3>
        <ul>
          <li>
            <%= @flat.address %>
          </li>
          <li>
            <%= @flat.nb_rooms %>
          </li>
          <li>
            <%= @flat.nb_people_max %>
          </li>
          <li>
            <%= @flat.wifi_available %>
          </li>
          <li>
            <%= @flat.wifi_pwd %>
          </li>
          <li>
            <%= @flat.pick_up_services %>
          </li>
          <li>
            <%= @flat.description %>
          </li>
        </ul>
      </div>
  <div class="col-xs-12 col-md-3 booking-form">
      <h3>Book this flat</h3>
      <%= simple_form_for(@flat) do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.submit class:"btn btn-danger" %>
      <% end %>
  </div>
</div>
