<div class="container">
    <% if @flat.photos? %>
      <% @flat.photos.each do |photo| %>
  <div class="row">
        <div class="col-xs-12 col-md-4 flat-photo">
          <%= cl_image_tag photo.path, width: 950, height: 250, crop: :fill %>
        </div>
  </div>
      <% end %>
    <% end %>
</div>
<div class="container">
  <div class="col-xs-12 col-md-8 info-container">
    <h2>This flat belongs to <%= link_to @flat.user.first_name, user_profile_path(@flat.user) %></h2>
    <h2>Name of flat:<%= @flat.name %></h2>
    <div class="row">
      <h4>Address ?</h4>
      <p><%= @flat.address %></p>
    </div>
    <div class="row">
      <h4>How many rooms ?</h4>
     <p><%= @flat.nb_rooms %> rooms</p>
    </div>
    <div class="row">
      <h4>Flat max capacity ?</h4>
     <p><%= @flat.nb_people_max %> people</p>
    </div>
    <div class="row">
     <h4>Pets allowed ?</h4>
     <p><%= @flat.pets_allowed ? 'Yes' : 'No' %></p>
    </div>
    <div class="row">
     <h4>Wifi ?</h4>
     <p><%= @flat.wifi_available ? 'Yes' : 'No' %></p>
    </div>
    <div class="row">
     <h4>Pickup Services ?</h4>
     <p><%= @flat.pick_up_services ? 'Yes' : 'No' %></p>
    </div>
    <div class="row">
      <h4>Price</h4>
     <p><%= @flat.price %>€ per night</p>
    </div>
  </div>
  <div class="col-xs-12 col-md-4 booking-form">
    <h3>Book this flat</h3>
    <%= simple_form_for(@flat) do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.submit %>
    <% end %>
  </div>
  <div class="col-xs-12 col-md-8" id="map-show">
  </div>
</div>

<% content_for(:after_js) do %>
<script>
    const coord = <%= raw @flat_coordinates.to_json %>;
</script>
<% end %>

