
<div class="message">
  <% if booking.user.photo? %>
    <%= cl_image_tag booking.user.photo.path, class:"avatar" %>
    <% else %>
    <%= image_tag booking.user.facebook_picture_url ||  "http://kitt.lewagon.com/placeholder/users/ssaunier", class:"avatar"%>
  <% end %>
  <div class="message-name">
    <p><strong>Booker:</strong></p>
    <h3><%= booking.user.first_name %></h3>
    <h3><%= booking.user.last_name %></h3>
  </div>
  <div class="message-name">
    <p><strong>Flat:</strong></p>
    <h3><%= booking.flat.name %></h3>
  </div>
  <div class="message-status">
    <p class="status pending">Status: <%= booking.status %></p>
    <p class="price"><%= booking.flat.price.to_i %>€ x <%= booking.nb_night %> nights</p>
    <p class="price"><%= booking.price_booking.to_i %>€</p>
  </div>
  <div class="booking-btn">
    <%= link_to accept_booking_path(booking) do %>
        <i class="fa fa-check" style="color:green"></i>
    <% end %>
    <%= link_to decline_booking_path(booking) do %>
      <i class="fa fa-times" style="color:red"></i>
    <% end %>
    <%= link_to delete_booking_path(booking), method: :delete do %>
      <i class="fa fa-ban" style="color:red"></i>
    <% end %>
  </div>
</div>
