
<div class="message">
  <% if booking.flat.photos? %>
    <%= cl_image_tag booking.flat.photos[0].path, class:"avatar" %>
    <% else %>
    <%= image_tag booking.flat.user.facebook_picture_url ||  "http://kitt.lewagon.com/placeholder/users/ssaunier", class:"avatar"%>
  <% end %>
  <div class="message-name">
    <p><strong>Flat:</strong></p>
    <h3><%= booking.flat.description %></h3>
    <h3><%= booking.flat.address %></h3>
  </div>
  <div class="message-name">
    <p><strong>Owner: </strong></p>
    <h3> <%= booking.flat.user.first_name %></h3>
  </div>
  <div class="message-status">
    <p class="status pending"><%= booking.status %></p>
    <p class="price"><%= booking.flat.price.to_i %>€ x <%= booking.nb_night %> nights</p>
    <p class="price"> = <%= booking.price_booking.to_i %>€</p>
  </div>
  <div class="booking-btn">
    <%= link_to edit_booking_path(booking) do %>
      <i class="fa fa-pencil" style="color:orange"></i>
    <% end %>
    <%= link_to cancel_booking_path(booking) do %>
      <i class="fa fa-times" style="color:red"></i>
    <% end %>
  </div>
</div>
