<!--   <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%#cl_image_path flat.photos.first.path, height: 300, width: 400, crop: :fill unless flat.photos.first.nil? %>')">
      <div class="card-category">
        <p><%# flat.name %></p>
        <p><%# flat.price.to_i %> € / night</p>
        </div>
      <div class="card-description">
        <h2><%# flat.address %></h2>
        <p><%# flat.description %></p>
      </div>
      <%# link_to "", flat_path(flat), class: "card-link" %>
    </div>
  </div>
 -->

<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="card-total">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=cl_image_path flat.photos.first.path, height: 300, width: 400, crop: :fill unless flat.photos.first.nil? %>')">
      <div class="card-category">
        <p><%= flat.name %></p>
      </div>
      <div class="card-description">
        <h2><%= flat.address %></h2>
      </div>
      <%= link_to "", flat_path(flat), class: "card-link" %>
    </div>
    <div class="under_card">
      <p><%= flat.price.to_i %> € / night</p>
      <p><%= flat.description %></p>
    </div>
  </div>

  </div>
